.container {
  width: 420px;
  background-color: transparent;
  color: white;
  border: 0.8px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 30px 40px;
  backdrop-filter: blur(8px);
  text-align: center;
}

.container h2 {
  font-size: 32px;
  text-align: center;
}

.container button {
  width: 100%;
  height: 40px;
  margin: 20px 0 0;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.container button:hover{
  background-color: white;
  color: black;
  transform: translateY(-3px);
}